<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <!--<pre>{{vm.selectedOrder | json}}</pre>-->

    <div class="page-header">
        <h1>Make your order
            <small>bug free...</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-12">

            <div class="alert alert-danger" role="alert" ng-if="!vm.userModel.user">
                You must be <strong>logged in</strong>!
            </div>

            <form class="form-inline" role="form" name="addOrderItemForm" novalidate>
                <div class="form-group">
                    <label for="selectOrder" class="control-label">Select Order</label>
                    <select class="form-control"
                            name="selectOrder" id="selectOrder"
                            ng-model="vm.selectedOrder"
                            ng-change="vm.updatePageTotals()"
                            ng-disabled="!vm.userModel.user"
                            ng-options="order as (order.name + ' - '  + order.restaurant.name) for order in vm.orders">>
                    </select>
                </div>
                <button type="submit" class="btn btn-info"
                        ng-disabled="!vm.userModel.user || !vm.selectedOrder"
                        ng-click="vm.selectedOrder = null">
                    <span class="glyphicon glyphicon-trash"></span> Clear
                </button>
            </form>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-12" ng-if="vm.userModel.user">
            <p>

            <div class="alert alert-warning" role="alert" ng-show="!vm.selectedOrder">
                Please select an <strong>order</strong> to amend!
            </div>

            <div class="alert alert-success" role="alert" ng-show="vm.selectedOrder">
                Your adding to the order <strong>{{vm.selectedOrder.name}}</strong> from <strong>{{vm.selectedOrder.restaurant.name}}.</strong>
            </div>

            <div class="alert alert-warning" role="alert" ng-if="vm.selectedOrder && !vm.userHasOrder()">
                You don't have any items, please <a ng-click="vm.initOrderForUser()">add one!</a>
            </div>

            </p>

        </div>
    </div>

    <div class="row">

        <div class="col-sm-6" ng-if="vm.userHasOrder()">
            <h5>Your Orders <span class="badge">{{vm.findUserOrder().order.length || 0}}</span></h5>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="item in vm.findUserOrder().order">
                    <span class="btn badge" ng-click="vm.removeFoodItem($index, item)">-</span>
                    <span class="badge">£{{(item.price / 100).toFixed(2)}}</span>
                    {{item.name}}
                </li>
            </ul>

            <form class="form-inline" role="form" name="addOrderItemForm" novalidate>
                <div class="form-group">
                    <select class="form-control"
                            name="selectMenu"
                            required
                            ng-model="vm.newOrderItemForm"
                            ng-options="(food.name + ' - £' + ((food.price / 100).toFixed(2))) for food in vm.selectedOrder.restaurant.foods">
                    </select>
                </div>
                <button type="submit" class="btn btn-info"
                        ng-disabled="addOrderItemForm.$invalid"
                        ng-click="vm.addFoodItem(vm.newOrderItemForm)">
                    <span class="glyphicon glyphicon-plus"></span> Add
                </button>
                <div class="form-group pull-right">
                    <h4> Your total: £{{vm.getUsersOrder()}}</h4>
                </div>
            </form>

        </div>

        <div class="col-sm-6" ng-show="vm.selectedOrder.details">

            <h5>Who else is ordering?</h5>

            <accordion close-others="true">
                <accordion-group ng-repeat="detail in vm.selectedOrder.details track by $index">
                    <accordion-heading>
                        <span ng-click="status.open = !status.open">

                            {{detail.user.id === vm.userModel.user.id ? detail.user.displayName + ' (my order)' : detail.user.displayName}} ({{detail.order.length}}) <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
                        </span>
                    </accordion-heading>
                    <ul class="list-group">
                        <li class="list-group-item" ng-repeat="food in detail.order track by $index">
                            <span class="badge">£{{((food.price / 100).toFixed(2))}}</span>
                            {{detail.user.displayName}} - {{food.name}}
                        </li>
                    </ul>
                </accordion-group>
            </accordion>

            <a class="btn btn-large btn-success" href="/#/order-wizard/place-order/{{vm.selectedOrder.$id}}">Place Order</a>

        </div>

    </div>
</div>