<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">

    <div class="page-header">
        <h1>Who's ordering?
            <small>Bring the food...</small>
        </h1>
    </div>

    <div class="row">
        <div class="col-sm-12" ng-if="vm.userModel.user">

            <div class="alert alert-warning" role="alert" ng-show="!vm.selectedOrder">
                You must have a real <strong>order</strong> to place!
            </div>

            <div class="alert alert-info" role="alert" ng-show="vm.selectedOrder">
                Placing order <strong>{{vm.selectedOrder.name}}</strong> from <strong>{{vm.selectedOrder.restaurant.name}}.</strong>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">{{vm.selectedOrder.restaurant.name}}</h3>
                </div>
                <div class="panel-body">
                    <p>
                        {{vm.selectedOrder.restaurant.address}}
                    </p>
                    <p>
                        {{vm.selectedOrder.restaurant.openingTimes}}
                    </p>
                    <p>
                        <strong>{{vm.selectedOrder.restaurant.contactNumber}}</strong> - <a target="_blank" href="{{vm.selectedOrder.restaurant.directionLink}}">directions</a>
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-sm-6" ng-show="vm.selectedOrder.details">

            <h4>Complete Order</h4>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="foodItem in vm.totalCounts">
                    <span class="label label-info">x{{foodItem.count}}</span>
                    {{foodItem.name}}
                    <span class="badge">£{{(foodItem.price / 100).toFixed(2)}}</span>
                </li>
            </ul>

            <h3 class="text-info pull-right">Order Total: £{{vm.getOrderTotals()}}</h3>

        </div>

        <div class="col-sm-6" ng-show="vm.selectedOrder.details">

            <h4>All Orders</h4>
            <!--<pre>{{vm.findUserOrder().order | json}}</pre>-->
            <!--<pre>{{vm.selectedOrder.details | json}}</pre>-->

            <!--<div class="panel panel-default" ng-repeat="detail in vm.selectedOrder.details track by $index">-->
            <!--<div class="panel-heading">-->
            <!--<h3 class="panel-title">{{detail.user.displayName}}</h3>-->
            <!--</div>-->
            <!--<div class="panel-body">-->
            <!--<ul class="list-group">-->
            <!--<li class="list-group-item" ng-repeat="food in detail.order track by $index">-->
            <!--<span class="badge">£{{((food.price / 100).toFixed(2))}}</span>-->
            <!--{{food.name}}-->
            <!--</li>-->
            <!--</ul>-->
            <!--</div>-->
            <!--</div>-->

            <ul class="list-group" ng-repeat="detail in vm.selectedOrder.details track by $index">
                <li class="list-group-item" ng-repeat="food in detail.order track by $index">
                    <span class="badge">£{{((food.price / 100).toFixed(2))}}</span>
                    {{detail.user.displayName}} - {{food.name}}
                </li>
            </ul>
        </div>

    </div>

</div>