<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Who's ordering?</h1>

    <h2 class="sub-header">Bring the food...</h2>

    <div class="row">
        <div class="col-sm-12" ng-if="vm.userModel.user">
            <p>

            <div class="alert alert-warning" role="alert" ng-show="!vm.selectedOrder">
                Please select an <strong>order</strong> to amend!
            </div>

            <div class="alert alert-info" role="alert" ng-show="vm.selectedOrder">
                Placing order <strong>{{vm.selectedOrder.name}}</strong> from <strong>{{vm.selectedOrder.restaurant.name}}.</strong>
            </div>

            </p>

        </div>
    </div>

    <div class="row">

        <div class="col-sm-6" ng-show="vm.selectedOrder.details">

            <h4>Complete Order</h4>

            <ul class="list-group">
                <li class="list-group-item" ng-repeat="foodItem in vm.totalCounts">
                    <span class="label label-info">x{{foodItem.count}}</span>
                     {{foodItem.name}}
                    <span class="badge">£{{(foodItem.price / 100).toFixed(2)}}</span>
                </li>
            </ul>

            <h3 class="text-info pull-right">Order Total: £{{vm.getOrderTotals()}}</h3>

        </div>

        <div class="col-sm-6" ng-show="vm.selectedOrder.details">

            <h4>All Orders</h4>
            <!--<pre>{{vm.findUserOrder().order | json}}</pre>-->
            <!--<pre>{{vm.selectedOrder.details | json}}</pre>-->

            <!--<div class="panel panel-default" ng-repeat="detail in vm.selectedOrder.details track by $index">-->
                <!--<div class="panel-heading">-->
                    <!--<h3 class="panel-title">{{detail.user.displayName}}</h3>-->
                <!--</div>-->
                <!--<div class="panel-body">-->
                    <!--<ul class="list-group">-->
                        <!--<li class="list-group-item" ng-repeat="food in detail.order track by $index">-->
                            <!--<span class="badge">£{{((food.price / 100).toFixed(2))}}</span>-->
                            <!--{{food.name}}-->
                        <!--</li>-->
                    <!--</ul>-->
                <!--</div>-->
            <!--</div>-->

            <ul class="list-group" ng-repeat="detail in vm.selectedOrder.details track by $index">
                <li class="list-group-item" ng-repeat="food in detail.order track by $index">
                    <span class="badge">£{{((food.price / 100).toFixed(2))}}</span>
                    {{detail.user.displayName}} - {{food.name}}
                </li>
            </ul>
        </div>

    </div>

</div>