<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Make a new order</h1>

    <h2 class="sub-header">Order my food, bug free....</h2>

    <!--<pre>{{vm.selectedOrder | json}}</pre>-->

    <form class="form-horizontal" role="form" name="form" novalidate>

        <div class="form-group">
            <label for="selectOrder" class="col-sm-2 control-label">Select Order</label>
            <select name="selectOrder" id="selectOrder"
                    ng-model="vm.selectedOrder"
                    ng-options="order as order.name for order in vm.orders">
            </select>
        </div>

        <div ng-repeat="selctedFood in vm.selectedOrder.content">

            <div class="form-group">
                <label class="col-sm-2 control-label">Item</label>
                <select name="selectUser" id="selectUser"
                        ng-model="vm.myOrder.foods[$index].user"
                        ng-options="user for user in vm.availableUsers">
                </select>
                <select name="selectMenu"
                        ng-model="vm.myOrder.foods[$index].food"
                        ng-options="food as (food.name + ' - £' + ((food.price / 100).toFixed(2)) ) for food in vm.selectedRestaurant.foods">
                </select>
                <button ng-click="vm.removeFoodItem($index, selctedFood)">-</button>
                <button ng-click="vm.addFoodItem()" ng-show="$last">+</button>
            </div>
        </div>

        <hr />

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Confirm Order</button>
            </div>
            Order Total: {{vm.getOrderTotals()}}
        </div>
    </form>

</div>