<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Make a new order</h1>

    <h2 class="sub-header">Order my food, bug free....</h2>

    <!--<pre>{{vm.selectedOrder | json}}</pre>-->

    <form class="form-horizontal" role="form" name="form" novalidate>

        <div class="form-group">
            <label for="selectOrder" class="col-sm-2 control-label">Select Order</label>
            <select name="selectOrder" id="selectOrder"
                    ng-model="vm.selectedOrder"
                    ng-options="order as (order.name + ' - '  + order.restaurant.name) for order in vm.orders">
            </select>
            <button ng-click="vm.selectedOrder = null">Clear</button>
        </div>

        <div class="alert alert-warning" role="alert" ng-show="!vm.selectedOrder">
            Please select an <strong>order</strong> to amend!
        </div>

        <div class="alert alert-success" role="alert" ng-show="vm.selectedOrder">
            Your adding to the order <strong>{{vm.selectedOrder.name}}</strong> from <strong>{{vm.selectedOrder.restaurant.name}}.</strong>
        </div>


        <div class="alert alert-warning" role="alert" ng-if="vm.selectedOrder && !vm.userHasOrder()">
            You don't have any items, please <a ng-click="vm.initOrderForUser()">add one!</a>
        </div>

    </form>

    <div class="col-sm-12" ng-if="vm.userHasOrder()">

        <div class="col-sm-6">
            Your Orders:

            <!--{{vm.findUserOrder()}}-->

            {{vm.findUserOrder().order}}

            <div ng-repeat="item in vm.findUserOrder().order track by $index">
                <!--{{vm.findUserOrder().order[$index]}}-->
                {{item}}
                <div class="form-group">
                    <select name="selectMenu"
                            ng-model="vm.findUserOrder().order[$index]"
                            ng-options="food as (food.name + ' - £' + ((food.price / 100).toFixed(2))) for food in vm.selectedOrder.restaurant.foods">
                    </select>
                    <button ng-click="vm.removeFoodItem($index)">-</button>
                    <button ng-click="vm.addFoodItem()" ng-show="$last">+</button>
                </div>
            </div>

        </div>

        <div class="col-sm-6">
            The orders:<br/>
            <pre>{{vm.selectedOrder | json}}</pre>
            <hr/>
            <div class="form-group">
                Order Total: {{vm.getOrderTotals()}}
            </div>

        </div>
    </div>

</div>